.big-image{
    width: 100%;
    position: absolute;
    overflow: auto;
}

.login-card{
    width: 300px;
    max-width: 100%;
    margin: 20px auto;
}

.send-form{
    width: 100%;
}

.send-form.facebook-btn{
    margin-top: 10px;
}

a.center-align{
    display: table;
    margin: auto;
}

a.center-align.register-btn h5{
    margin-top: 5px;
}

.side-info{
    clear: both;
    display: inline-block;
}

.side-info li{
    float: left;
}

.image-info{
    margin-top: 20px;

}

.image-info img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.drop-item{
    font-size: 12px !important;
}

@media screen and (max-width: 600px){
    .big-image{
        height: -moz-calc(100vh - 56px);
        height: -webkit-calc(100vh - 56px);
        height: calc(100vh - 56px);
    }
    #welcome-landpage{
        margin-top: 10%;

    }

    #welcome-landpage h4{
        font-size: 24px;
    }
    #hamburger-btn{
        padding: 14px;
    }

    .dropdown-btn-user{
        padding: 14px;
    }
}

@media screen and (min-width: 601px){
    .big-image{
        height: -moz-calc(100% - 64px);
        height: -webkit-calc(100% - 64px);
        height: calc(100% - 64px);
    }
    #welcome-landpage{
        margin-top: 15%;
    }
    .logo-top{
        margin-left: 12px;
    }
}

@media screen and (max-width: 1900px){
    .side-bar-content{
        
    }
    .side-bar{
        display: none;
    }

    .side-bar-content.open{
        left: 0px !important;
        
    }

    .side-bar-btn-open{
        position: fixed;
        top: 75px;
        left: 10px;
        z-index: 990;
    }
    .side-bar-btn-open i.open{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        writing-mode: lr-tb;
    }
}


@media screen and (min-width: 1901px){
    .side-bar-btn-open{
        display: none;
    }
    
}


/* User área */


.avatar-top{
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    position: absolute;
}

.avatar-menu{
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#info-user-menu{
    padding: 30px 10px;
    padding-bottom: 10px;
    width: 100%;
}

.avatar-image{
    width: 80px;
    border-radius: 50%;
}

.avatar-image-edit{
    margin-top: 38px;
}

.user-name-top{
    font-size: 16px;
    margin-left: 50px;
    vertical-align: middle;
}

.user-name-menu{
    font-size: 18px;
    line-height: 3.1;
}

.occupation-text{
    display: inline-table;
}

.side-bar-content{
    position: fixed;
    width: auto;
    z-index: 900;
    background-color: #eee; 
}

.side-bar{
min-width: 320px;
}

.table-profile{
    display: table;
    margin-bottom: 25px; 
}

.info-profile{
    margin-left: 30px;
}

.search-field{
    padding: 10px;
}

.child-menu{
    border-top: 1px #263238 solid;
}

.child-menu li a span{
    margin-left: 20px;
    font-size: 12px;
}

#sidebar-wrapper i.right{
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 0;
    font-size: 14px;
}

.search-field button{
    margin-top: 10px;
}

.search-component{
    height: 90px;
    margin-bottom: 30px;
}

.avatar-search{
    width: 82px;
    margin-right: 10px;
    border-radius: 50%;
}

.avatar-friends{
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
    margin-right:5px;
}

.friends-link{
    margin-bottom: 0;
    height:70px;
    width: 100%;
    padding: 15px;
}

.logo-top{
    display: block !important;
    position: absolute !important;
    height: 100%;
}

.friend-action{
    position: relative;
    right:30px;
}

.add-person-friends{
    top: 10px;
}

.remove-person-friends{
    top: 5px;
}





/*  MENU BT  */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    /*padding-left: 250px;*/

}

#hamburger-btn {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#hamburger-btn.toggled{
    padding-left: 260px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #34495E;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.ident {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*@media(min-width:768px) {
    #wrapper {
        
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }*/
}