.big-image{
    width: 100%;
    position: absolute;
    overflow: auto;
}

.login-card{
    width: 300px;
    max-width: 100%;
    margin: 20px auto;
}

.send-form{
    width: 100%;
}

.send-form.facebook-btn{
    margin-top: 10px;
}

a.center-align{
    display: table;
    margin: auto;
}

a.center-align.register-btn h5{
    margin-top: 5px;
}



.image-info{
    margin-top: 20px;

}

.image-info img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 600px){
    .big-image{
        height: -moz-calc(100vh - 56px);
        height: -webkit-calc(100vh - 56px);
        height: calc(100vh - 56px);
    }
    #welcome-landpage{
        margin-top: 10%;

    }

    #welcome-landpage h4{
        font-size: 24px;
    }
}

@media screen and (min-width: 601px){
    .big-image{
        height: -moz-calc(100% - 64px);
        height: -webkit-calc(100% - 64px);
        height: calc(100% - 64px);
    }
    #welcome-landpage{
        margin-top: 15%;
    }
    .logo-top{
        margin-left: 12px;
    }
}





/* User área */


.avatar-top{
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    position: absolute;
}

.avatar-image{
    width: 80px;
    border-radius: 50%;
}

.user-name-top{
    font-size: 16px;
    margin-left: 50px;
    vertical-align: middle;
}

.side-bar-content{
    position: fixed;
    width: 100%;
}
.side-bar{


}

.table-profile{
    display: table;
    margin-bottom: 25px; 
}

.info-profile{
    margin-left: 30px;
}


.search-field button{
    margin-top: 10px;
}

.avatar-search{
    width: 82px;
    margin-right: 10px;
    border-radius: 50%;
}

.logo-top{
    display: block !important;
    position: absolute !important;
}

.friend-action{
    position: relative;
    right:30px;
    
}

.add-person-friends{


    top: 10px;



}
.remove-person-friends{


    top: 5px;



}